(
	{
		type = 0;
		comments = (
			{
				fromUser = {
					name = "";
					avatar = "";
				};
				toUser = {
					name = "";
					avatar = "";
				};
				content = "\U8fd9\U662f\U8bc4\U8bba...";
			},
			{
				fromUser = {
					name = "";
					avatar = "";
				};
				toUser = {
					name = "";
					avatar = "";
				};
				content = "\U8fd9\U662f\U8bc4\U8bba...";
			},
		);
		likes = (
			{
				name = "";
				avatar = "";
			},
			{
				name = "";
				avatar = "";
			},
		);
		text = "#iOS#\U4f7f\U7528LWAsyncDisplayView\U6765\U5b9e\U73b0\U56fe\U6587\U6df7\U6392[\U5fae\U7b11]\Uff0c\U548c\U70b9\U51fb\U94fe\U63a5 https://github.com/waynezxcv/LWAsyncDisplayView\Uff0c\U5341\U5206\U5f88\U7b80\U5355\U3002@waynezxcv \U5e76\U4e14\U5f02\U6b65\U7ed8\U5236\U4e0e\U9884\U52a0\U8f7d\U7f13\U5b58\U5e03\U5c40\Uff0c\U80fd\U4fdd\U8bc1\U754c\U9762\U6eda\U52a8\U7684\U6d41\U7545\U6027~";
		timeStamp = 1453660395;
		user = {
			name = Waynezxcv;
			avatar = "https://avatars0.githubusercontent.com/u/8408918?v=3&s=460";
		};
		imgs = (
			"http://d.hiphotos.baidu.com/zhidao/pic/item/6d81800a19d8bc3e4a4c8226838ba61ea9d34592.jpg",
			"http://imglf6.ph.126.net/r6Oa30BUiJaANM2QgiuAWQ==/6597833927237755956.jpg",
			"http://img.hb.aicdn.com/c0b35eed3ce270da5b0c6092a17a8ceb5df317052866-gx7Kbx_fw580",
			"http://f.hiphotos.baidu.com/zhidao/pic/item/a9d3fd1f4134970aed3ef2a594cad1c8a6865def.jpg",
			"http://imglf6.ph.126.net/r6Oa30BUiJaANM2QgiuAWQ==/6597833927237755956.jpg",
		);
	},
)