(
        {
        type = 0;
        comments = (
            {
            fromUser = {
                name = "";
                avatar = "";
            };
            toUser = {
                name = "";
                avatar = "";
            };
            content = "这是评论...";
            },
            
            {
            fromUser = {
                name = "";
                avatar = "";
            };
            toUser = {
                name = "";
                avatar = "";
            };
            content = "这是评论...";
            },

        );
        likes = (
                    {
                        name = "";
                        avatar = "";
                    },
                    {
                        name = "";
                        avatar = "";
                    },
        );

        text = "\U53d1\U5e03\U56fe\U7247\U3002\U5f02\U6b65";
        timeStamp = 1453660395;
        user = {
            name = "";
            avatar = "";
        };
        imgs =         (
            "555/391_2rQf4_big.jpg",
            "555/391_epnl1_big.jpg",
            "555/391_OH6E5_big.jpg",
            "555/391_6INcT_big.jpg",
            "555/391_28gGB_big.jpg",
            "555/391_6Jsap_big.jpg",
            "555/391_jFHHp_big.jpg",
            "555/391_84F1i_big.jpg",
            "555/391_tc36e_big.jpg",
        );
    },
)